<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    
</head>

<body>
    <footer>
        <section class="sectionFooter">
            <div>
                <h1 class="contactoFooter">contacto</h1> <br>
                <h3 class="datosFooter">+54 3364202122 <br>
                    co.moda@gmail.com <br>
                    San Nicolás de los Arroyos <br>
                    CP.: 2900 
                </h3>
            </div>
            <div>
<h1 class="copyright">© 2022 co.moda  - all rights reserved</h1>
            </div>
        </section>
        <img src="/img/FooterPattern.jpg" alt="Foto de footer" style="width: 100% ;">
    </footer>
</body>

</html>