<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creación de productos</title>
    <link rel="stylesheet" href="/css/productsCreate.css">
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <div class="formulario">


        <form action="/products/create" method="POST" enctype="multipart/form-data" class="formulario">
            <div class="errores">
                <ul class="err"></ul>
            </div><br>
            <div class="registro">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de producto">
                <input type="number" name="precio" id="precio" placeholder="Precio">
                <input type="text" name="categorias" id="categorias" placeholder="Categoria">
                <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion">
                <input type="file" name="imagen" id="imagen" placeholder="Imagen">
            </div>

    </div>
    </div>

    <div class="buttons">
        <input type="submit" value="Crear producto" class="btn">
    </div>

    </form>





    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>

</html>